<div class="pagination__wrapper">
    <div class="pagination__content">
        <div class="pagination__arrow pagination_l" @click="setNewMonth(-1)"></div>
        <h4 class="pagination__cur-date">
            {{ getCurMonthName }} {{ curYear }}
        </h4>
        <div class="pagination__arrow pagination_r" @click="setNewMonth(1)"></div>
    </div>
</div>
