.pagination__wrapper
    text-align: left
    padding: 20px 0

.pagination__content
    display: flex

.pagination__cur-date
    text-align: center
    width: 130px

.pagination__arrow
    width: 18px
    height: 18px
    border-radius: 3px
    box-shadow: inset 0px 0px 1px 1px #cecece
    cursor: pointer
    position: relative

    &:hover
        box-shadow: inset 0px 0px 3px 1px #b7d1d8

    &:before
        content: ''
        position: absolute
        border-top: 4px solid transparent
        border-bottom: 4px solid transparent
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)

.pagination_l
    &:before
        border-right: solid 5px #4e4d4d

.pagination_r
    &:before
        border-left: solid 5px #4e4d4d
        