.search__search-block
    width: 200px
    position: relative

.search__list, .search__no-res
    position: absolute
    left: 0
    right: 0
    background-color: #fff
    z-index: 10
    text-align: left

.search__list
    border-radius: 4px
    transform: translateY(18px)
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, .5))
    
    &:before
        content: ""
        display: block
        width: 16px
        height: 16px
        border-radius: 2px
        background: #fff
        position: absolute
        left: 20px
        top: -7px
        transform: rotate(45deg)
        z-index: -1

.search__no-res
    font-size: 12px
    color: #a3a8ac
    padding: 5px 7px
    border-bottom-left-radius: 2px
    border-bottom-right-radius: 2px
    left: 1px
    right: 1px
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, .4))

.search__list-hide
    display: none

.search__list-item
    display: none
    padding: 7px 10px
    margin: 3px
    border-bottom: solid 1px #dfdfdf 

    &:hover
        background-color: #1d90ee
        color: #fff
        cursor: pointer

    &:last-child
        border-bottom: none

.search__list-name
    font-size: 12px
    font-weight: bold
    padding-bottom: 3px

.search__list-date
    font-size: 10px

.show
    display: block

.search__close
    font-size: 20px!important
    padding: 1px 7px
    