<div class="search search__wrapper">
    <div class="search__search-block">
        <input type="text" placeholder="Поиск события" class="input" v-model="searchEventVal" @focus="resetSearchRes">
        <div class="ico-close search__close" @click="closeSearch"> &#215;</div>
        <div class="search__list-wrapper">
            <div v-if="isNoRes" class="search__no-res">No results...</div>
            <ul v-show="filtetedEventsList.length > 0" ref="ul" class="search__list">
                <li @click="goToEvent(item)" v-for="item in filtetedEventsList" class="search__list-item show">
                    <div class="search__list-name">
                        {{ item.name }}
                    </div>
                    <div class="search__list-date">
                        {{ getFormattedDate(item.time) }}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
