@import '../../assets/styles/media'

.main-page__content
    margin: auto
    width: 80vw
    max-width: 1000px
    padding-bottom: 30px

.main-page__header
    background-color: #f3f2f2
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.2)

.main-page__header-content
    display: flex
    justify-content: space-between
    padding: 50px 0 20px 0
    @include xxs
        flex-direction: column
        align-items: start
        padding: 10px 20px
        