<div class="main-page">
    <div class="main-page__header">
        <div class="main-page__content main-page__header-content">
            <QuickEvent @setEvent="setEvent" />
            <SearchEvent 
                :eventsList="eventsList"
                :resetSearchRes="resetSearchRes"
                @eventListId="goToEvent"
            />
        </div>
    </div>
    <div class="main-page__content">
        <Pagination 
            :curMonth="curMonth" 
            :curYear="curYear" 
            :setNewMonth="setNewMonth" 
        />
        <Calendar 
            :curMonth="curMonth" 
            :curYear="curYear"
            :eventsList="eventsList"
            :selectedEventTime="selectedEventTime"
            :isShowEvent="isShowEventModal"
            @showEventModal="showEventModal"
        />
    </div>
    <Event 
        v-if="isShowEventModal" 
        :showHide="changeStatusEventModal" 
        :curEl="curEl" 
        :time="time"
        @setEvent="setEvent"
        @removeEvent="removeEvent"
    />
</div>
