@import '../../assets/styles/media'
    
.calendar-table
    width: 100%
    font: 12px sans-serif
    border-spacing: 0
    border-collapse: collapse    

.calendar-table__item
    width: calc(100%/7)
    max-width: 100px
    height: 80px
    border: solid 1px #cccccc
    color: #757575
    text-align: left
    vertical-align: top
    padding: 7px

    @include xs
       height: 60px
    @include xxs
        height: 50px

.calendar-table__event
    margin-top: 5px
    max-height: 50px
    overflow: hidden

    @include xs
        display: none
    @include xxs
        display: none

.calendar-table__title
    line-height: 13px
    overflow: hidden
    text-overflow: ellipsis
    margin-bottom: 5px

.calendar-table__event-day
    background: #bfeff7fb
    
.calendar-table_cur
    &:hover
        background-color: #d7edf8ee
        box-shadow: inset 0px 0px 1px 1px #64c3fafb
        box-sizing: border-box
        cursor: pointer

.calendar-table_active
    background-color: #b8e4fdee
    &:hover
        background-color: #b8e4fdee
    
.calendar-table_cur-day
    background-color: #ececec
    font-weight: bold

.calendar-table_inactive
    color: #c2c3ce

.calendar-table__members
    font-weight: normal
    font-size: 11px
    overflow: hidden
    text-overflow: ellipsis
    