<div class="calendar-wrapper">
	<table class="calendar-table" @click="showEvenModal($event, null)">
		<tr v-for="(item, idx) in getCurCalendar">
			<td
				class="calendar-table__item"
				:class="d.classes"
				v-for="(d, i) in item"
				:data-id="d.day"
				:data-date="d.date"
				:key="d.date"
				ref="cell"
			>
				<span v-if="idx === 0">
					{{ getDayName[i] }}, 
				</span>
				<span class="calendar-table__date">{{d.day}}</span>
				<div class="calendar-table__event" v-if="d.event">
					<h4 class="calendar-table__title">{{d.event.name}}</h4>
					<div class="calendar-table__members">{{d.event.members}}</div>
				</div>
			</td>
		</tr>
	</table>
</div>
