@import '../../assets/styles/media'

.event__wrapper
    width: 100vw
    height: 100vh
    position: fixed
    z-index: 100
    left: 0
    top: 0
    
.event__content
    border: solid 1px #c5c5c5
    background: #ffffff
    border-radius: 3px
    width: 300px
    padding: 10px
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, .5))
    position: absolute

    &:before
        content: ""
        display: block
        width: 16px
        height: 16px
        border-radius: 2px
        background: #fff
        position: absolute
        left: -8px
        top: 20px
        transform: rotate(45deg)
        z-index: -1

    @include xs
        width: 80vw
        top: 20px!important
        left: 50%!important
        transform: translateX(-50%)
        &:before
            display: none            

    @include xxs
        width: 80vw
        top: 20px!important
        left: 50%!important
        transform: translateX(-50%)
        &:before
            display: none

.event__content_lp
    &::before
        left: auto
        right: -8px

.event__content_bp
    &::before
        top: auto
        bottom: 20px

.event__row
    margin-bottom: 10px

.event__form
    padding: 7px 12px
    text-align: left

.event__form-title
    margin-bottom: 3px
    padding-left: 7px

.event__title
    margin-bottom: 10px
    font-size: 13px

.event__txt
    font-size: 14px

.event__button-block
    padding: 10px

    .button
        margin: 0 5px

        @include xxs
            display: block
            margin: 5px auto

.event__close
    padding: 5px
    