<div class="event event__wrapper" @click.prevent.self="showHide(false)">
    <div class="event__content" ref="eventContainer">
        <div class="event__form">
            <div class="ico-close event__close" @click="showHide(false)"> &#215;</div>
            <div class="event__row">
                <h4 class="event__row">
                    {{ getEventDay }}.{{ getEventMonth }}.{{ getEventYear }}
                </h4>
                <div>
                    <h6 class="event__form-title">Название события:</h6>
                    <input type="text" placeholder="Событие" v-model.lazy="eventName" class="input">
                </div>
            </div>
            <div class="event__row">
                <h6 class="event__form-title">Участники события:</h6>
                <input type="text"  placeholder="Имена участников" v-model.lazy="eventMembers" class="input">
            </div>
            <div>
                <h6 class="event__form-title">Описание события:</h6>
                <textarea placeholder="Описание" v-model.lazy="eventDesc" class="textarea"></textarea>
            </div>
        </div>
        <div class="event__button-block" v-if="isEventExists">
            <button @click="setEvent(false)" class="button">Сохранить</button>
            <button @click="removeEvent" class="button">Удалить</button>
        </div>
        <div class="event__button-block" v-else>
            <button @click="setEvent(true)" class="button">Добавить</button>
            <button @click="showHide(false)" class="button">Отменить</button>
        </div>
    </div>
</div>
