<div class="quick-event quick-event__wrapper">
    <button class="button" @click="isShow = true">Добавить</button>
    <div class="quick-event__modal" v-if="isShow">
        <div class="quick-event__modal-content">
            <div class="ico-close quick-event__close" @click="isShow=false"> &#215;</div>
            <div class="quick-event__info">
                Укажите через запятую дату в требуемом формате, название и короткое описание мероприятия
            </div>
            <div class="quick-event__input-block">
                <div>
                    <input type="text" 
                           v-model="eventField" 
                           placeholder="yyyy-mm-dd, название, текст"
                           class="input"
                           :class="{error: validError}"
                           @focus="resetForm"
                    >
                </div>
                <div class="quick-event__error" v-if="validError">
                    Неверный формат даты
                </div>
            </div>
            <div>
                <button @click="saveQuickEvent" class="button">Создать</button>
            </div>
        </div>

    </div>
</div>
