@import '../../assets/styles/media'

.quick-event__wrapper
    position: relative
    @include xxs
        margin-bottom: 14px

.quick-event__modal
    position: absolute
    width: 300px
    background-color: #fff
    border-radius: 4px
    z-index: 10
    transform: translateY(18px)
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, .5))

    &:before
        content: ""
        display: block
        width: 16px
        height: 16px
        border-radius: 2px
        background: #fff
        position: absolute
        left: 20px
        top: -7px
        transform: rotate(45deg)
        z-index: -1

.quick-event__modal-content
    padding: 12px 20px
    text-align: left

.quick-event__info
    font: 10.5px/10px sans-serif
    color: #adadad
    margin-bottom: 5px

.quick-event__input-block
    height: 40px

.quick-event__error
    color: #b94343
    font-size: 11px

.quick-event__close   
    padding: 2px 7px
