<template>
  <div id="app">
    <MainPage />
  </div>
</template>

<script>
import MainPage from './components/MainPage/MainPage.vue'

export default {
  name: 'App',
  components: {
    MainPage
  }
}
</script>

<style lang="sass">
  @import './assets/styles/media'

  *
    box-sizing: border-box

  body, h1, h2, h3, h4, h5, h6, p, ul, ol
    margin: 0
    padding: 0

  #app
    font-family: Avenir, Helvetica, Arial, sans-serif
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-align: center
    color: #2c3e50

  .input, .textarea
    width: 100%
    box-sizing: border-box
    font-size: 12px
    border: solid 1px #b4b4b4
    border-radius: 2px

  .input
    padding: 0 5px
    height: 24px

  .input:focus, .textarea:focus
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.2)
    border: solid 1px #8b8b8b
    outline: none

  .input::placeholder, .textarea::placeholder
    color: #b4b4b4
    font-size: 11px

  .textarea
    resize: none
    padding: 5px
    height: 100px
    @include xs
      height: 130px!important

    @include xxs
      height: 90px!important

  .ico-close
    font-size: 16px
    cursor: pointer
    color: #999999
    position: absolute
    right: 0
    top: 0
    &:hover
      color: #575757

  .txt-small
    font-size: 11px

  .button
    background-color: #1d84fa
    color: #fff
    border-radius: 3px
    border: none
    padding: 5px 20px
    text-shadow: 0px 1px 2px rgba(0,0,0,0.5)
    box-shadow: 0 2px 2px 0px rgba(0,0,0,0.3)
    cursor: pointer
    outline: none

    &:hover
      background-color: #0071f3
</style>
